<footer>
    <div class="footer-container">
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'mentions_legales' %}">Mentions légales</a></li>
            <li><a href="{% url 'privacy_policy' %}">Politique de confidentialité</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <!-- Liens des réseaux sociaux -->
        <div class="social-links">
            <a href="https://x.com/Mr_Vianss_" target="_blank" aria-label="Twitter">Twitter</a>
            <a href="https://www.facebook.com/vianney.franckdiomande" target="_blank" aria-label="Facebook">Facebook</a>
            <a href="https://github.com/franckvianney" target="_blank" aria-label="GitHub">GitHub</a>
            <a href="https://www.linkedin.com/in/franck-vianney-diomande-864b8193/" target="_blank" aria-label="GitHub">Linkedin</a>
        </div>
        <p>&copy; 2024 - Tous droits réservés.</p>
    </div>
</footer>
<style>
    footer {
        background-color: #EC1414FF; /* Couleur de fond */
        color: #ffffff; /* Couleur du texte */
        text-align: center; /* Centrer le contenu */
        padding: 0px 0; /* Réduit l'espacement (hauteur du footer) */
        font-size: 0.7em; /* Réduit la taille du texte général */
        position: absolute; /* Position absolue */
        bottom: 0; /* Aligné en bas */
        width: 100%; /* S'étend sur toute la largeur */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour plus de style */
    }

    /* Style pour la div container */
    .footer-container {
        max-width: 1200px;
        margin: 0 auto; /* Centrer la div */
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 5px 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    footer ul li a {
        color: #F0EDECFF;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: bold;
    }

    footer ul li a:hover {
        text-decoration: underline;
    }

    .social-links {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .social-links a {
        color: #F0EDECFF;
        font-size: 1em;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    .social-links a:hover {
        color: #FFD700;
    }

    footer p {
        margin-top: 10px;
        font-size: 1em;
        color: #dcdcdc;
    }
</style>
